/* ===== GOOGLE FONT ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* ===== BODY ===== */
body{
    margin:0;
    padding: 85px 0px;
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#EB4C4C,#FF7070,#FFA6A6,#feda75,#FFEDC7);
    align-items: center;
}

/* ================= NAVBAR ================= */

.navbar{
    width:100%;
    height: auto;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px 10px;
    color:white;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    z-index:1000;
}


.logo{
    color:white;
    font-size:22px;
    font-weight:600;
}

.logo-section{
            display:flex;
            align-items:center;
            gap:10px;
        }

.logo-section img{
            width:65px;
        }


.navbar a{
    text-decoration: none;
    color:white;
    font-weight:500;
    transition:0.3s;
    margin: 5px 15px;
    gap: 10px;
}

.navbar a:hover{
    color:#fdfd5d;
    text-decoration: none;
}

/* ===== CARD CONTAINER ===== */
.container{
    margin: auto;
    width:350px;
    background:linear-gradient(280deg,#EB4C4C,#FF7070,#FFA6A6,#feda75,#FFEDC7);
    backdrop-filter: blur(15px);
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 40px rgba(0,0,0,0.2);
    text-align:center;
    animation:fadeIn 1s ease;
    display: block;

}

/* ===== TITLE ===== */
h2{
    margin-bottom:20px;
    color:#333;
}

/* ===== INPUT ===== */
input{
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:8px;
    border:1px solid #ccc;
    outline:none;
    transition:0.3s;
}

input:focus{
    border-color:#667eea;
    box-shadow:0 0 5px rgba(102,126,234,0.5);
}

/* ===== BUTTON ===== */
button{
    width:100%;
    padding:12px;
    margin-top:20px;
    border:none;
    border-radius:8px;
    background:white;
    color:black;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#f0f0f0;
    transform:scale(1.03);
}

/* ===== LINKS ===== */
a{
    color:yellow;
    text-decoration:none;
    font-weight:500;
}

a:hover{
    text-decoration:underline;
}

/* ===== ERROR TEXT ===== */
.error{
    color:rgb(179, 5, 5);
    font-size:12px;
    text-align:left;
}

/* ===== DASHBOARD ===== */
.dashboard{
    width:90%;
    max-width:900px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}




/* FOOTER */
.footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:0;
    width:100%;
}


/* ===== ANIMATION ===== */
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}